.footer-container
    footer.footer 
        .contact-box
            p.contact-text Contáctanos
            .contact-options 
                p <i class="fas fa-phone-alt"></i> +01 445-859
                p <i class="fas fa-envelope"></i> pedidos@paqueta2.com
                p <i class="fab fa-whatsapp"></i> +51 989558414
        .social-box 
            p.social-text 
            .social-options
                i(class="fab fa-facebook")
                i(class="fab fa-instagram")
                i(class="fab fa-twitter")
        .footer-image 
            img(src="/images/svg/undraw_A_day_at_the_park_re_9kxj.svg", alt="")
