.header-container 
    header.header 
        .top-bar
            .number
                p.number-contact <i class="fab fa-whatsapp"></i> +51 987558412
            .nav-bar
                input#nav-button(type="checkbox", name="")
                label(for="nav-button").nav-button <i class="fas fa-bars"></i>
        .header-content-1 
            h1.title paqueta2 
            p.slogan-1 Usa los mejores productos biodegradables y amigables con el medio ambiente
            .header-image 
                img(src="/images/images24.jpg", alt="")
            a(href="#").header-link TODOS LOS PRODUCTOS
        .header-content-2 
            p.slogan-2 Nuestro compromiso está con la naturaleza y contigo
            .header-image-2
                img(src="/images/svg/undraw_nature_m5ll.svg", alt="")
            a(href="#").header-link-2 CONOCE MÁS